body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

    @media screen and (max-width: 850px) { /*mobile*/
      #topnav {
        display: none;
        clear:left;
      }
      #topnav a{
        float: none;
        display: block;
        text-align: center;
      }
      .menu-trigger {
        float: left;
        display: block;
        width: 100%;
      }
      #bio {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #af_inspo {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #command {
        margin-top: 10px;
      }
      #say_hi {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
      }
      .bottom-nav img {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
