<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Landing</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/work">Work</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:isaac.schultz@columbia.edu">email</a></li>
				<li><a href="https://twitter.com/isaac_schultz_">twitter</a></li>
				<li><a href="https://www.linkedin.com/in/isaac-schultz/">linkedin</a></li>
				<li><a href="https://www.instagram.com/isaacschultzofficial/">instagram</a></l
				</ul>
			</footer>
		</body>
	</html>
